.floatLeft{
    float: left;
}
.floatRight{
    float:right;
}
.cursor{
    cursor: pointer;
    float:right;
}
.pointerCursor{
    cursor: pointer;
}
.wordCapitalize{
    text-transform: capitalize;
}